html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    position: sticky;
    transition: top 500ms ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

nav a {
    color: #aaa;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    background-color: #000;
}

section {
    min-height: 70vh;
}

.deel {
    padding: 30vh 3em;
    background-color: aliceblue;
    background-size: cover;
    background-attachment: fixed;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 13px grey;
}

.deel--2 {
    background-image: url('https://images.pexels.com/photos/1376766/nature-milky-way-galaxy-space-1376766.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

.deel--4 {
    background-image: url('https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

.deel--6 {
    background-image: url('https://images.pexels.com/photos/1819650/pexels-photo-1819650.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

#progressBar {
    position: fixed;
    bottom: 0;
    height: 5px;
    background-color: black;
}
